<div class="title">
    <h1>Catálago de Filmes - RubyFlix</h1>
</div>

<div class="gender">
<table>
    <tr>
        <td> <h2>Gêneros de filmes:  </h2> </td>
        <td> <p> <%= link_to 'Cadastrar', new_gender_path%> - <%= link_to 'Visualizar', genders_path %></p> </td>
    </tr>
</table>    
</div>

<div class="directors">
<table>
    <tr>
        <td> <h2>Diretores de filmes:  </h2> </td>
        <td> <p> <%= link_to 'Cadastrar', new_director_path%> - <%= link_to 'Visualizar', directors_path %></p> </td>
    </tr>
</table>    
</div>
