<div class="title">
    <h1>Catálago de Filmes - RubyFlix</h1>
</div>

<div class="gender">
    <h2>Gêneros de filmes</h2>
    <%= link_to 'Cadastrar', new_gender_path%>
    <%= link_to 'Editar' %>
    <%= link_to 'Visualizar' %>
</div>
